{% extends 'base.html' %}
{% block content %}
<div class="shadow p-3 mb-5 bg-white rounded">
  <h1 style="color:rgb(0, 102, 255)">Welcome to the Products Recommender System</h1>
  <h3 style="color:rgb(0, 102, 255)">Enter the Customer ID to get recommendations.</h3>
</div>
  <form action="{{url_for('recommend')}}" method="POST">
    <input type="text" name="user" class="form-control" placeholder="User name here">
    <br>
    <input type="submit" class="btn btn-info" value="Enter">
  </form>
{% endblock %}
